<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <h1>Thanks for contacting us</h1>

    {{#errors}}
      {{msg}}
    {{/errors}}

    <form class="" action="/contact" method="post">
      <fieldset>
        <div>
          <label for="Name">Name</label>
          <input type="text" name="name" value="{{name}}" placeholder="Your name">
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" name="email" value="{{email}}" placeholder="Your Email">
        </div>

        <div>
          <label for="email">Your very important thoughts</label>
          <textarea name="message" rows="8" cols="80">{{message}}</textarea>
        </div>
        <input type="submit" value="Send!">
      </fieldset>
    </form>
  </body>
</html>
